:host ::ng-deep {
    margin: 0 0.3rem 0 0.3rem;

    .product-card {
        max-width: 20rem;
        margin-bottom: .8rem;

        // Card title
        .mat-mdc-card-title-group div {
            width: 100%;
        }

        .mat-mdc-card-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            img {
                height: 9rem;
                width: 10rem;
            }
        }

        // Card content
        .mat-mdc-card-content {
            height: 10rem;
            padding-bottom: 0;
            overflow: auto;

            // Description
            .description {
                display: inline-block;
                font-size: .9rem;
                color: #007185;
                margin-bottom: .5rem;
            }

            // Rating
            .rating-container {
                display: flex;
                align-items: center;

                .rating-rate {
                    display: flex;
                    align-items: center;
                    margin-inline-end: 0.3rem;
                }

                .rating-count {
                    color: #007185;
                }
            }

            // Price & Category
            .price-category-container {
                display: flex;
                width: 100%;
                justify-content: space-between;

                .price {
                    color: #B12704;
                }
            }
        }
    }
}