<mat-card class="product-card">
    <mat-card-header>
        <mat-card-title-group>
            <!-- Title -->
            <mat-card-title>
                <span class="ellipsis" [matTooltip]=" product?.title || ''">
                    {{ product?.title| truncate}}
                </span>
            </mat-card-title>
            <mat-card-subtitle>
                <!-- Rating -->
                <section class="rating-container">
                    <span class="rating-rate">
                        <rating [currentRate]="product?.rating?.rate || 0"></rating>
                        <span class="rating-rate-value"> {{product?.rating?.rate}}</span>
                    </span>
                    <span class="rating-count">
                        ({{product?.rating?.count}})
                    </span>
                </section>
                <!-- Price and Category -->
                <section class="price-category-container">
                    <span class="category">{{product?.category}}</span>
                    <span class="price"> {{product?.price | currency}}</span>
                </section>
            </mat-card-subtitle>
            <!-- Product image -->
            <img mat-card-sm-image [src]="product?.image">
        </mat-card-title-group>
    </mat-card-header>
    <!-- Description -->
    <mat-card-content>
        <span class="description"> {{product?.description}}</span>
    </mat-card-content>
</mat-card>