@import '../../../../assets/style/variables';

.star-icon {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    padding-right: 0.1rem;
    color: #d3d3d3;
}

.filled {
    color: $star-icon-color;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}