@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/style/mixins.scss';
@import './assets/style/override.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    font-size: 16px;
    @include noselect();
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    * {
        font-size: 12px;
    }
}


// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    * {
        font-size: 14px;
    }
}